.title {
	color: var(--dark-color);

	font-size: rem(30);
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: rem(1.5);

	&--light {
		color: var(--main-font-color);
	}

	@include media-breakpoint($md) {
		font-size: rem(24);
	}

	@include media-breakpoint($xs) {
		font-size: rem(20);
	}
}