<div class="inspect-tabs">
	<div class="container">
		<div class="inspect-tabs__inner">
			<ul class="inspect-tabs__list">
				<li class="inspect-tabs__list-item inspect-tabs__list-item--1 inspect-tabs__list-item--active" data-inspect-tab="1">Описание</li>
				<li class="inspect-tabs__list-item inspect-tabs__list-item--2" data-inspect-tab="2">Характеристика</li>
				<li class="inspect-tabs__list-item inspect-tabs__list-item--3" data-inspect-tab="3">Отзывы</li>
				<li class="inspect-tabs__list-item inspect-tabs__list-item--4" data-inspect-tab="4">Доставка</li>
			</ul>
			<div class="inspect-tabs__tabs">
				<div class="inspect-tabs__tab" data-inspect-tab-content="1" data-da=".inspect-tabs__list-item--1,767.98,1">
					<div class="inspect-tabs__text-group">
						<p class="inspect-tabs__text">
							Легкий удобный <b>нож с клинком</b>, имеющим пологие вогнутые линзовидные спуски <b>на две трети
								ширины клинка</b>, образующие тонкое, прекрасно режущее лезвие толщиной около <b>0,6 мм</b>
							в районе подводов.
						</p>
						<p class="inspect-tabs__text">
							<b>Обух клинка со спинкой рукояти</b> имеет одну плавную дугообразную линию. На пяте перед
							рукоятью есть подпальцевый <b>вырез для точных работ</b>.
						</p>
						<p class="inspect-tabs__text">
							Необходимо проявлять некоторую осторожность при работе с большими боковыми нагрузками <b>на
								лезвие ножа</b>, ввиду небольшой толщины клинка в рабочей части.
						</p>
						<p class="inspect-tabs__text">Монтаж рукояти накладной <b>плашечный</b>. На навершии рукояти,
							функцию которого выполняет выступающий из под плашек хвостовик, имеется <b>отверстие под
								темляк</b>. Этот нож удобный помощник при работе <b>с продуктами и охоте на боровую</b> и
							водоплавающую дичь.</p>
					</div>
				</div>
				<div class="inspect-tabs__tab hidden" data-inspect-tab-content="2" data-da=".inspect-tabs__list-item--2,767.98,1">
					<div class="inspect-tabs__tab-row">
						<div class="inspect-tabs__tab-box">
							<h4 class="inspect-tabs__title">Технические характеристики</h4>
							<div class="inspect-tabs__list-tab">
								<div class="inspect-tabs__properties">
									<div class="inspect-tabs__property">Общая длина, мм:</div>
									<div class="inspect-tabs__property">Длина клинка, мм:</div>
									<div class="inspect-tabs__property">Ширина клинка, мм:</div>
									<div class="inspect-tabs__property">Толщина обуха, мм:</div>
								</div>
								<div class="inspect-tabs__values">
									<div class="inspect-tabs__value">227</div>
									<div class="inspect-tabs__value">112</div>
									<div class="inspect-tabs__value">24</div>
									<div class="inspect-tabs__value">2.9</div>
								</div>
							</div>
						</div>
						<div class="inspect-tabs__tab-box">
							<h4 class="inspect-tabs__title">Используемые материалы</h4>
							<div class="inspect-tabs__list-tab">
								<div class="inspect-tabs__properties">
									<div class="inspect-tabs__property">Сталь:</div>
									<div class="inspect-tabs__property">Рукоять:</div>
								</div>
								<div class="inspect-tabs__values">
									<div class="inspect-tabs__value">95Х18</div>
									<div class="inspect-tabs__value">Накладки карельская береза</div>
								</div>
							</div>
						</div>
						<div class="inspect-tabs__tab-box">
							<h4 class="inspect-tabs__title">Производство</h4>
							<div class="inspect-tabs__list-tab">
								<div class="inspect-tabs__properties">
									<div class="inspect-tabs__property">Производство:</div>
								</div>
								<div class="inspect-tabs__values">
									<div class="inspect-tabs__value">АиР</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="inspect-tabs__tab hidden" data-inspect-tab-content="3" data-da=".inspect-tabs__list-item--3,767.98,1">
					<div class="inspect-tabs__feedback">
						<div class="inspect-tabs__personal-feedback">
							<p>Оставьте свой отзыв, чтобы другие могли оценить данный товар!</p>
							@@include('./../button/buttonInspect-black.html')
						</div>
						<div class="inspect-tabs__user-feedback">
							<div class="inspect-tabs__avatar">
								<img class="inspect-tabs__avatar-img" src="./img/inspect/avatar-1.png" alt="Аватарка пользователя">
							</div>
							<div class="inspect-tabs__commentary-block">
								<div class="inspect-tabs__username-date-rating">
									<div class="inspect-tabs__username-date">
										<span class="inspect-tabs__username">Никита Панков</span>
										<span class="inspect-tabs__date">29.06.2019</span>
									</div>
									<div class="inspect-tabs__user-rating">
										@@include('./../star-rating-js.html')
									</div>
								</div>
								<div class="inspect-tabs__commentary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor luctus et consectetur augue. Dolor egestas nunc pellentesque hac fringilla. Enim hac scelerisque eu tellus feugiat vel. Ut ac nec eleifend fermentum dictum ullamcorper phasellus at sed.</div>
								<div class="inspect-tabs__button-like">
									<button class="inspect-tabs__button">Ответить</button>
									<a class="inspect-tabs__like-link" href="#!">
										<img class="inspect-tabs__like" src="./img/icons/accent-heart.svg" alt="Знак сердечка">
									</a>
								</div>
							</div>
						</div>
						<div class="inspect-tabs__user-feedback">
							<div class="inspect-tabs__avatar">
								<img class="inspect-tabs__avatar-img" src="./img/inspect/avatar-2.png" alt="Аватарка пользователя">
							</div>
							<div class="inspect-tabs__commentary-block">
								<div class="inspect-tabs__username-date-rating">
									<div class="inspect-tabs__username-date">
										<span class="inspect-tabs__username">Cаша Осийчук</span>
										<span class="inspect-tabs__date">29.06.2019</span>
									</div>
									<div class="inspect-tabs__user-rating">
										@@include('./../star-rating-js.html')
									</div>
								</div> 
								<div class="inspect-tabs__commentary">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor luctus et consectetur augue. Dolor egestas nunc pellentesque hac fringilla. Enim hac scelerisque eu tellus feugiat vel. Ut ac nec eleifend fermentum dictum ullamcorper phasellus at sed.</div>
								<div class="inspect-tabs__button-like">
									<button class="inspect-tabs__button">Ответить</button>
									<a class="inspect-tabs__like-link" href="#!">
										<img class="inspect-tabs__like" src="./img/icons/accent-heart.svg" alt="Знак сердечка">
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="inspect-tabs__tab hidden" data-inspect-tab-content="4" data-da=".inspect-tabs__list-item--4,767.98,1">
					<div class="inspect-tabs__tab-item">
						<div class="inspect-tabs__select-wrapper">
							@@include('./../select-group/select-group-delivery.html')
						</div>
					</div>
					<div class="inspect-tabs__tab-item">
						<div class="delivery-order">
							<div class="delivery-order__post">
								<img class="delivery-order__img" src="./img/inspect/post-mark.jpg" alt="Почтовая марка">
								<div class="delivery-order__name">Почта России</div>
							</div>
							<div class="delivery-order__duration-price">
								<div class="delivery-order__duration">
									<span class="delivery-order__duration-days">5-8</span> дней
								</div>
								<div class="delivery-order__price">
									<span class="delivery-order__price-number">300 </span>
									<img class="delivery-order__price-currency" src="./img/inspect/currency--small.svg" alt="Знак валюты">
								</div>
							</div>
						</div>
					</div>
					<div class="inspect-tabs__tab-item">
						<div class="delivery-order">
							<div class="delivery-order__post">
								<img class="delivery-order__img" src="./img/inspect/post-mark.jpg" alt="Почтовая марка">
								<div class="delivery-order__name">Почта России</div>
							</div>
							<div class="delivery-order__duration-price">
								<div class="delivery-order__duration">
									<span class="delivery-order__duration-days">5-8</span> дней
								</div>
								<div class="delivery-order__price">
									<span class="delivery-order__price-number">300 </span>
									<img class="delivery-order__price-currency" src="./img/inspect/currency--small.svg" alt="Знак валюты">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>