<div class="inspect">
	<div class="container">
		<div class="inspect__inner">
			<div class="inspect__swiper" data-da=".inspect__section--socket,767.98,0">
				<div class="inspect__swiper-top swiper inspectSwiper2">
					<div class="swiper-wrapper">
						<div class="inspect__swiper-item inspect__swiper-item--top swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/1.jpg" alt="Нож">
						</div>
						<div class="inspect__swiper-item inspect__swiper-item--top swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/2.jpg" alt="Нож">
						</div>
						<div class="inspect__swiper-item inspect__swiper-item--top swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/3.jpg" alt="Нож">
						</div>
						<div class="inspect__swiper-item inspect__swiper-item--top swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/4.jpg" alt="Нож">
						</div>
						<div class="inspect__swiper-item inspect__swiper-item--top swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/5.jpg" alt="Нож">
						</div>
						<div class="inspect__swiper-item inspect__swiper-item--top swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/6.jpg" alt="Нож">
						</div>
					</div>
				</div>
				<div class="inspect__swiper-bottom swiper inspectSwiper">
					<div class="swiper-wrapper">
						<div class="inspect__swiper-item inspect__swiper-item--bottom swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/1.jpg" alt="Нож">
						</div>
						<div class="inspect__swiper-item inspect__swiper-item--bottom swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/2.jpg" alt="Нож">
						</div>
						<div class="inspect__swiper-item inspect__swiper-item--bottom swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/3.jpg" alt="Нож">
						</div>
						<div class="inspect__swiper-item inspect__swiper-item--bottom swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/4.jpg" alt="Нож">
						</div>
						<div class="inspect__swiper-item inspect__swiper-item--bottom swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/5.jpg" alt="Нож">
						</div>
						<div class="inspect__swiper-item inspect__swiper-item--bottom swiper-slide">
							<img class="inspect__swiper-img" src="./img/inspect/6.jpg" alt="Нож">
						</div>
					</div>
				</div>
			</div>
			<div class="inspect__info">
				<div class="inspect__section">
					<div class="inspect__section-top">
						<div class="inspect__title-instock">
							<h3 class="inspect__title">Нож Снегирь</h3>
							<div class="inspect__instock">В наличии</div>
						</div>
						<div class="inspect__rating-icons">
							@@include('./../star-rating-js.html')
							<div class="inspect__icons">
								<a class="inspect__icon-link" href="#!">
									<img class="inspect__icon-img" src="./img/icons/scales.svg" alt="Весы">
								</a>
								<a class="inspect__icon-link" href="#!">
									<img class="inspect__icon-img" src="./img/icons/accent-heart.svg" alt="Знак сердца">
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="inspect__section inspect__section--socket">
					<ul class="inspect__list">
						<li class="inspect__list-item">
							<span class="inspect__item-property">Артикул: </span>
							<span class="inspect__item-value">AF0000001952</span>
						</li>
						<li class="inspect__list-item">
							<span class="inspect__item-property">Торговая марка: </span>
							<span class="inspect__item-value">WUESTHOF (Германия)</span>
						</li>
						<li class="inspect__list-item">
							<span class="inspect__item-property">Серия: </span>
							<span class="inspect__item-value">Ножи серии Classic Ikon</span>
						</li>
						<li class="inspect__list-item">
							<span class="inspect__item-property">Бонусные баллы: </span>
							<span class="inspect__item-value">38</span>
						</li>
					</ul>
				</div>
				<div class="inspect__section">
					@@include('./../select-group/select-group.html')
				</div>
				<div class="inspect__section">
					<div class="inspect__section-bottom">
						<div class="inspect__price-bonus">
							<div class="inspect__price">
								<span class="inspect__price-number">3 865</span>
								<span class="inspect__price-currency">
									<img class="inspect__currency-img" src="./img/inspect/currency.svg" alt="Знак рубля">
								</span>
							</div>
							<div class="inspect__bonus">
								<div class="inspect__bonus-text">+ <span class="inspect__bonus-amount">449</span> баллов
									за покупку</div>
								<div class="inspect__bonus-wrapper">
									<img class="inspect__bonus-icon" src="./img/inspect/info.svg" alt="Знак вопроса">
									<div class="inspect__bonus-tooltip">Вам будут начислены баллы в размере <span
											class="inspect__tooltip-number">5</span>%
										от стоимости покупки. Их можно будет использовать
										на оплату последующих заказов.
									</div>
								</div>
							</div>
						</div>
						<div class="inspect__counter-buttons">
							<div class="inspect__counter">
								<button class="inspect__sign inspect__sign--minus">-</button>
								<span class="inspect__counter-number">1</span>
								<button class="inspect__sign inspect__sign--plus">+</button>
							</div>
							<div class="inspect__buttons">
								@@include('./../button/buttonCart-small.html')
								@@include('./../button/button-black.html')
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>