$xxs: 499.98px;
$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$l: 1199.98px;
$xl: 1399.98px;

$filter-aside: 1349.98px;

:root {
	--main-font-family: 'Montserrat';
	--main-font-weight: 500;
	--main-line-height: normal;

	--main-font-color: #fff;

	--accent-color: #e8aa31;
	--accent-dark-color: #e8aa3100;
	--accent-opacity-color: #e8aa31a8; 
	--pale-accent-color: #e8aa316e;
	--accent-dark-color2: #634e23;

	--accent-color-hover: #c58910;

	--dark-opacity-color: #14141480;
	--dark-opacity-color2: #0000001f;
	--dark-color: #141414;
	--dark-color2: #000;
	--dark-mahogany: #4c3333;
	--dark-pale-color: #ffffff0d;

	--green-color: #24ae54;

	--light-color: #fff;
	--light-color2: #ecf1f2;
	--light-color3: #ffffffcc;
	--light-color4: #fefefe;
	--light-pale-color: #ffffff1a;

	--grey-color: #ababab;
	--grey-color2: #e9e7e79f;
	--grey-color3: #898989;

	--border-grey-color: #ffffff4d;
	--border-dark-color: #3d3d3d;
	--border-dark-color2: #14141426;
	--border-light-color: #cbcbcb;
	--border-grey-color2: #14141480;
	--border-grey-color3: #0000001a;

	--boxShadow-dark-color: #0000001a;
	--boxShadow-dark-color2: #0000001a;
	--boxShadow-light-color: #a9a9a92e;
	
	


--color-000:         #ffffff;
--color-001:         #e8aa31;
--color-002:         #ecf1f2;
--color-003:         #fefefe;
--color-004:         #c4c4c4;
--color-005:         #1414147f;
--color-006:         #1f1c21;
--color-007:         #141414;
--color-008:         #ababab;
--color-009:         #000000;
--color-010:         #14141494;
--color-011:         #4e4e4e;
--color-012:         #000000a6;
--color-013:         #ffffffb2;
--color-014:         #3535357f;
--color-015:         #ffffff1a;
--color-016:         #634e23;
--color-017:         #2a2a2a;
--color-018:         #ffffffcc;
--color-019:         #ffffff0d;
--color-020:         #ffffff85;
--color-021:         #ffffff7f;
--color-022:         #898989;
--color-023:         #e8aa317f;
--color-024:         #07070708;
--color-025:         #0404047f;
--color-026:         #0000007f;
--color-027:         #ffffff08;
--color-028:         #ffffff4d;
--color-029:         #0404044d;
--color-030:         #e8aa3100;
--color-031:         #f6b817;
--color-032:         #0000001f;
--color-033:         #00000033;
--color-034:         #cbcbcb;
--color-035:         #04040426;
--color-036:         #7f7f7f;
--color-037:         #24ad53;
--color-038:         #14141426;
--color-039:         #d2d2d212;
--color-040:         #1414144d;
--color-041:         #e7401b;
--color-042:         #595959;
--color-043:         #e8eced;
--color-044:         #3d3d3d;
--color-045:         #eeeeee;
--color-046:         #d3d3d3;
}
