<article class="filter__grid-item common-card">
	<div class="common-card__discount">
		<a class="common-card__discount-link" href="#!">
			<span class="common-card__discount-number">-50%</span>
		</a>
	</div>
	<div class="common-card__wrapper">
		<div class="common-card__img-wrapper">
			<a class="common-card__img-link" href="#!">
				<img class="common-card__img" src="./img/common-card/1.png" alt="Нож">
			</a>
		</div>
		<h4 class="common-card__title">
			<a class="common-card__title-link" href="#!">Нож Лиса</a>
		</h4>
		<div class="common-card__card-info">
			<span class="common-card__product-size">95х18</span>
			<span class="common-card__product-materials">Орех, Алюминий</span>
		</div>
		<div class="common-card__rating">
			<div class="rating rating_set" data-ajax="true">
				<div class="rating__body">
					<div class="rating__active"></div>
					<div class="rating__items">
						<input class="rating__item" type="radio" value="1" name="rating">
						<input class="rating__item" type="radio" value="2" name="rating">
						<input class="rating__item" type="radio" value="3" name="rating">
						<input class="rating__item" type="radio" value="4" name="rating">
						<input class="rating__item" type="radio" value="5" name="rating">
					</div>
				</div>
				<div class="rating__value">5</div>
			</div>
			<div class="common-card__feedback"><span class="common-card__feedback-number">2 719</span>
				отзывов</div>
		</div>
		<div class="common-card__price-info">
			<div class="common-card__price">
				<a class="common-card__price-link" href="#!">
					<span class="common-card__price-number">2 719</span> р.
				</a>
			</div>
			<div class="common-card__icons">
				<a class="common-card__icon-link" href="#!">
					<img class="common-card__icon" src="./img/icons/scales.svg" alt="Весы">
				</a>
				<a class="common-card__icon-link" href="#!">
					<img class="common-card__icon" src="./img/icons/accent-heart.svg" alt="Сердце">
				</a>
			</div>
		</div>
	</div>
	@@include('./../button/buttonCart-mobile.html')
</article>