<div class="catalogue-menu">
	<div class="container">
		<div class="catalogue-menu__inner">
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Сувенирные изделия</figcaption>
				<ul class="catalogue-menu__list mobile-menu__list" data-da=".mobile-menu__list-item--3, 767.98,2">
					<li class="catalogue-menu__list-item mobile-menu__list-item mobile-menu__list-item--back">
						<a class="catalogue-menu__list-link mobile-menu__list-link mobile-menu__list-link--back"
							href="#!">Назад</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Предметы интерьера</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Тарели</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Украшенная пасуда</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Бизнес подарки</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Христианская тематика</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Мусульманская
							тематика</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Гравюра на стали</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Визитницы</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Браслеты</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Зеркальца</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Шкатулки</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link" href="products.html">Смотреть все</a>
				</div>
			</figure>
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Производство сувенирных изделий</figcaption>
				<ul class="catalogue-menu__list">
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">АИР</a>
					</li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">ЗИК</a>
					</li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Булат Сергея
							Баранова</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Булат Андрея
							Умерова</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Сувениры
							Златко</a>
					</li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link" href="products.html">Смотреть все</a>
				</div>
			</figure>
		</div>
	</div>
</div>