<div class="catalogue-menu">
	<div class="container">
		<div class="catalogue-menu__inner">
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Фонари</figcaption>
				<ul class="catalogue-menu__list mobile-menu__list" data-da=".mobile-menu__list-item--4, 767.98,2">
					<li class="catalogue-menu__list-item mobile-menu__list-item mobile-menu__list-item--back">
						<a class="catalogue-menu__list-link mobile-menu__list-link mobile-menu__list-link--back"
							href="#!">Назад</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Налобные мультифонари</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Карманные фонари</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Тактические фонари</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Поисковые фонари</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Зарядные устройства и
							акссесуары</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link" href="products.html">Смотреть все</a>
				</div>
			</figure>
		</div>
	</div>
</div>