<div class="catalogue-menu">
	<div class="container">
		<div class="catalogue-menu__inner">
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Прилагаемые товары</figcaption>
				<ul class="catalogue-menu__list mobile-menu__list" data-da=".mobile-menu__list-item--5, 767.98,2">
					<li class="catalogue-menu__list-item mobile-menu__list-item mobile-menu__list-item--back">
						<a class="catalogue-menu__list-link mobile-menu__list-link mobile-menu__list-link--back"
							href="#!">Назад</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Чехлы и
							кейсы</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Ножны</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Системы
							хранения и ношения</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Подарочные
							коробки</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Темляки и
							фурнитура</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Разделочные
							доски</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Подставки под
							кухонные ножи</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Зажигалки
							Zippo</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Фонари
							ARMYTEK</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link" href="products.html">Смотреть все</a>
				</div>
			</figure>
		</div>
	</div>
</div>