<div class="catalogue-menu">
	<div class="container">
		<div class="catalogue-menu__inner">
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Категория ножей</figcaption>
				<ul class="catalogue-menu__list mobile-menu__list" data-da=".mobile-menu__list-item--1, 767.98,2">
					<li class="catalogue-menu__list-item mobile-menu__list-item mobile-menu__list-item--back">
						<a class="catalogue-menu__list-link mobile-menu__list-link mobile-menu__list-link--back"
							href="#!">Назад</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item">
						<a class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Разделочные
							ножи</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item">
						<a class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Туристические
							ножи</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item">
						<a class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Ножи
							охотничьи</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item">
						<a class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Булатные
							ножи</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item">
						<a class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Ножи из
							дамаска</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item">
						<a class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Тактического
							назначения</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item">
						<a class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Метательные
							ножи</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item">
						<a class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Мачете и
							кукри</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item">
						<a class="catalogue-menu__list-link mobile-menu__list-link" href="products.html">Ножи
							кухонные</a>
					</li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link" href="products.html">Смотреть все</a>
				</div>
			</figure>
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Производство ножей</figcaption>
				<ul class="catalogue-menu__list">
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи АИР</a>
					</li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи ЗИК</a>
					</li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи ЗЗОСС</a>
					</li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи
							РОСоружие</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи
							Оружейник</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Булат Сергея
							Баранова</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Булат Андрея
							Умерова</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи Златко</a>
					</li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи
							Стиль-М</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Оружейная
							компания</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link" href="#!">Смотреть все</a>
				</div>
			</figure>
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Ножи по маркам стали</figcaption>
				<ul class="catalogue-menu__list">
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи из стали
							40х102С2М</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи из стали
							95х18</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи из стали
							100х13м</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи из стали
							110х18м-ШД</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи из стали
							ЭИ-107 ТЦ</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи из стали
							50х14МФ</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи из стали
							AUS-8</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи из стали
							К340</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи из стали
							M390</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножи из стали
							ЭП-766</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link" href="products.html">Смотреть все</a>
				</div>
			</figure>
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Заточка и полировка ножей</figcaption>
				<ul class="catalogue-menu__list">
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Паста ГОИ</a>
					</li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Алмазная
							паста</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Бруски и камни
							для заточки</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Заточные
							системы</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link" href="products.html">Смотреть все</a>
				</div>
			</figure>
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Ножевая мастерская</figcaption>
				<ul class="catalogue-menu__list">
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Ножевые
							клинки</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Заготовки для
							ножей</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Литье для
							ножей</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Материалы для
							рукоятей</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link" href="products.html">Уход за
							рукоятиями ножей</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link" href="products.html">Смотреть все</a>
				</div>
			</figure>
		</div>
	</div>
</div>