<div class="catalogue-menu">
	<div class="container">
		<div class="catalogue-menu__inner">
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Категория клинков</figcaption>
				<ul class="catalogue-menu__list mobile-menu__list" data-da=".mobile-menu__list-item--2, 767.98,2">
					<li class="catalogue-menu__list-item mobile-menu__list-item mobile-menu__list-item--back">
						<a class="catalogue-menu__list-link mobile-menu__list-link mobile-menu__list-link--back"
							href="#!">Назад</a>
					</li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link"
							href="products.html">Кортики</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link"
							href="products.html">Кинжалы</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link"
							href="products.html">Стилеты</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link"
							href="products.html">Бебуты</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link"
							href="products.html">Катаны</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link"
							href="products.html">Мечи</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link"
							href="products.html">Палаши</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link"
							href="products.html">Сабли</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link"
							href="products.html">Казачьи шашки</a></li>
					<li class="catalogue-menu__list-item mobile-menu__list-item"><a
							class="catalogue-menu__list-link mobile-menu__list-link"
							href="products.html">Шпаги</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link"
						href="products.html">Смотреть все</a>
				</div>
			</figure>
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Производство клинков</figcaption>
				<ul class="catalogue-menu__list">
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Клинки АИР</a>
					</li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Клинки ЗИК</a>
					</li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Клинки Сергея
							Баранова</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Клинки Андрея
							Умерова</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Оружейная
							компания</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link"
						href="products.html">Смотреть все</a>
				</div>
			</figure>
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Клинки по маркам стали</figcaption>
				<ul class="catalogue-menu__list">
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Клинки из стали
							ЭИ-107 ТЦ</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Клинки из стали
							50х14МФ</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Клинки из стали
							AUS-8</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Клинки из стали
							К340</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link"
						href="products.html">Смотреть все</a>
				</div>
			</figure>
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Заточка и полировка клинков</figcaption>
				<ul class="catalogue-menu__list">
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Паста ГОИ</a>
					</li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Алмазная
							паста</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Бруски и камни
							для заточки</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Заточные
							системы</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link"
						href="products.html">Смотреть все</a>
				</div>
			</figure>
			<figure class="catalogue-menu__column">
				<figcaption class="catalogue-menu__title">Мастерская клинков</figcaption>
				<ul class="catalogue-menu__list">
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Ножевые
							клинки</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Заготовки для
							клинков</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Литье для
							клинков</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Материалы для
							рукоятей</a></li>
					<li class="catalogue-menu__list-item"><a class="catalogue-menu__list-link"
							href="products.html">Уход за
							рукоятиями клинков</a></li>
				</ul>
				<div class="catalogue-menu__link-wrapper"><a class="catalogue-menu__link"
						href="products.html">Смотреть все</a>
				</div>
			</figure>
		</div>
	</div>
</div>