<ul class="select-group select-group--delivery">
	<li class="select-group__list-item">
		<span class="select-group__item-property">Ваша страна</span>
		<div class="select-group__select" tabindex="1">
			<button class="select-group__input-button">Выбрать страну</button>
			<button class="select-group__button">
				<img class="select-group__button-img" src="./img/inspect/accent-arrow-down.svg" alt="Стрелка вниз">
			</button>
			<ul class="select-group__select-list">
				<li class="select-group__select-list-item">Беларусь</li>
				<li class="select-group__select-list-item">Украина</li>
				<li class="select-group__select-list-item">Россия</li>
			</ul>
			<input class="select-group__input visually-hidden" type="text">
		</div>
	</li>
	<li class="select-group__list-item">
		<span class="select-group__item-property">Ваш город</span>
		<div class="select-group__select" tabindex="1">
			<button class="select-group__input-button">Выбрать город</button>
			<button class="select-group__button">
				<img class="select-group__button-img" src="./img/inspect/accent-arrow-down.svg" alt="Стрелка вниз">
			</button>
			<ul class="select-group__select-list">
				<li class="select-group__select-list-item">Киев</li>
				<li class="select-group__select-list-item">Гомель</li>
				<li class="select-group__select-list-item">Витебск</li>
				<li class="select-group__select-list-item">Москва</li>
				<li class="select-group__select-list-item">Санкт-Петербург</li>
				<li class="select-group__select-list-item">Казань</li>
				<li class="select-group__select-list-item">Минск</li>
				<li class="select-group__select-list-item">Одесса</li>
				<li class="select-group__select-list-item">Винница</li>
			</ul>
			<input class="select-group__input visually-hidden" type="text">
		</div>
	</li>
</ul>