<ul class="select-group">
	<li class="select-group__list-item">
		<span class="select-group__item-property">Сталь</span>
		<div class="select-group__select" tabindex="1">
			<button class="select-group__input-button">Выбрать сталь</button>
			<button class="select-group__button">
				<img class="select-group__button-img" src="./img/inspect/accent-arrow-down.svg" alt="Стрелка вниз">
			</button>
			<ul class="select-group__select-list">
				<li class="select-group__select-list-item">100х13М</li>
				<li class="select-group__select-list-item">110х18М-ШД</li>
				<li class="select-group__select-list-item">40х10С2М (ЭИ-107)</li>
				<li class="select-group__select-list-item">50х14МФ</li>
				<li class="select-group__select-list-item">95Х18Ф</li>
				<li class="select-group__select-list-item">AUS-8</li>
				<li class="select-group__select-list-item">ELMAX</li>
				<li class="select-group__select-list-item">RWL-34</li>
			</ul>
			<input class="select-group__input visually-hidden" type="text">
		</div>
	</li>
	<li class="select-group__list-item">
		<span class="select-group__item-property">Рукоять</span>
		<div class="select-group__select" tabindex="1">
			<button class="select-group__input-button">Выбрать сталь</button>
			<button class="select-group__button">
				<img class="select-group__button-img" src="./img/inspect/accent-arrow-down.svg" alt="Стрелка вниз">
			</button>
			<ul class="select-group__select-list">
				<li class="select-group__select-list-item">Mercorne</li>
				<li class="select-group__select-list-item">Березовый кап</li>
				<li class="select-group__select-list-item">Бубинго</li>
				<li class="select-group__select-list-item">Граб</li>
				<li class="select-group__select-list-item">Дуб</li>
				<li class="select-group__select-list-item">Кап</li>
				<li class="select-group__select-list-item">Комбинированная</li>
				<li class="select-group__select-list-item">Каштан</li>
				<li class="select-group__select-list-item">Квартопрен</li>
				<li class="select-group__select-list-item">Кожа-Металл</li>
			</ul>
			<input class="select-group__input visually-hidden" type="text">
		</div>
	</li>
	<li class="select-group__list-item">
		<span class="select-group__item-property">Гарда и тыльник</span>
		<div class="select-group__select" tabindex="1">
			<button class="select-group__input-button">Выбрать гарду и тыльник</button>
			<button class="select-group__button">
				<img class="select-group__button-img" src="./img/inspect/accent-arrow-down.svg" alt="Стрелка вниз">
			</button>
			<ul class="select-group__select-list">
				<li class="select-group__select-list-item">Алюминий</li>
				<li class="select-group__select-list-item">Латунь</li>
				<li class="select-group__select-list-item">Литой Барс</li>
				<li class="select-group__select-list-item">Литой Пума</li>
				<li class="select-group__select-list-item">Литье</li>
				<li class="select-group__select-list-item">Металлический</li>
				<li class="select-group__select-list-item">Нержавающая сталь</li>
				<li class="select-group__select-list-item">Текстолит</li>
				<li class="select-group__select-list-item">Комбинированная</li>
			</ul>
			<input class="select-group__input visually-hidden" type="text">
		</div>
	</li>
	<li class="select-group__list-item">
		<span class="select-group__item-property">Обработка клинка</span>
		<div class="select-group__select" tabindex="1">
			<button class="select-group__input-button">Выбрать обработку клинка</button>
			<button class="select-group__button">
				<img class="select-group__button-img" src="./img/inspect/accent-arrow-down.svg" alt="Стрелка вниз">
			</button>
			<ul class="select-group__select-list">
				<li class="select-group__select-list-item">Без золочения</li>
				<li class="select-group__select-list-item">Золочение клинка</li>
				<li class="select-group__select-list-item">Золочение рисунка клинка</li>
				<li class="select-group__select-list-item">Сатинирование</li>
				<li class="select-group__select-list-item">Пескоструйка</li>
				<li class="select-group__select-list-item">Стоунвош</li>
				<li class="select-group__select-list-item">Зеркальная полировка</li>
			</ul>
			<input class="select-group__input visually-hidden" type="text">
		</div>
	</li> 
</ul>