<section class="articles">
	<div class="container">
		<div class="articles__inner">
			<h3 class="articles__title title">Наши статьи</h3>
			<div class="articles__cards">
				<article class="articles__card">
					<a class="articles__card-img-link" href="#!">
						<img class="articles__card-img" src="./img/articles/1.jpg" alt="Статья">
					</a>
					<h4 class="articles__card-title">
						<a class="articles__card-title-link" href="#!">Все о ножах: как правильно выбрать</a>
					</h4>
					<a class="articles__card-date" href="#!">24.07.2019</a>
				</article>
				<article class="articles__card">
					<a class="articles__card-img-link" href="#!">
						<img class="articles__card-img" src="./img/articles/2.jpg" alt="Статья">
					</a>	
					<h4 class="articles__card-title">
						<a class="articles__card-title-link" href="#!">Как правильно выбрать фонарь</a>
					</h4>
					<a class="articles__card-date" href="#!">24.07.2019</a>
				</article>
				<article class="articles__card">
					<a class="articles__card-img-link" href="#!">
						<img class="articles__card-img" src="./img/articles/3.jpg" alt="Статья">
					</a>		 	
					<h4 class="articles__card-title">
						<a class="articles__card-title-link" href="#!">Кухонные ножи для хозяек</a>
					</h4>
					<a class="articles__card-date" href="#!">24.07.2019</a>		
				</article>
				<article class="articles__card">
					<a class="articles__card-img-link" href="#!">
						<img class="articles__card-img" src="./img/articles/4.jpg" alt="Статья">
					</a>
					<h4 class="articles__card-title">
						<a class="articles__card-title-link" href="#!">Кухонные ножи для хозяек</a>
					</h4>
					<a class="articles__card-date" href="#!">24.07.2019</a>				
				</article>
			</div>
		</div>
	</div>
</section>