<div class="product-cards-2">
	<div class="container">
		<div class="product-cards-2__inner">
			<article class="product-cards-2__card">
				<div class="product-cards-2__text-block">
					<h4 class="product-cards-2__title">
						<a class="product-cards-2__title-link" href="products.html">Тактические
							фонари</a>
					</h4>
					<p class="product-cards-2__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					@@include('./button/buttonProductCart2.html')
				</div>
				<div class="product-cards-2__img-wrapper">
					<a class="product-cards-2__img-link" href="products.html">
						<picture class="product-cards-2__img">
							<source media="(max-width: 991.98px)" srcset="./img/cards/mobile-01.png">
							<img src="./img/cards/01.png" alt="Фонарик">
						</picture>
					</a>
				</div>
			</article>
			<article class="product-cards-2__card">
				<div class="product-cards-2__text-block">
					<h4 class="product-cards-2__title">
						<a class="product-cards-2__title-link" href="#!">Палобные мультифонари</a>
					</h4>
					<p class="product-cards-2__text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
					@@include('./button/buttonProductCart2.html')
				</div>
				<div class="product-cards-2__img-wrapper product-cards-2__img-wrapper--2">
					<a class="product-cards-2__img-link" href="#!">
						<picture class="product-cards-2__img">
							<source media="(max-width: 991.98px)" srcset="./img/cards/mobile-02.png">
							<img src="./img/cards/02.png" alt="Палобный мультифонарь">
						</picture>
					</a>
				</div>
			</article>
		</div>
	</div>
</div>