<div class="promo">
	<div class="container">
		<div class="promo__inner">
			<div class="promo__top">
				<div class="promo__swiper">
					<div class="swiper promo-swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="promo__swiper-item">
									<div class="promo__swiper-text-block">
										<h2 class="promo__swiper-title">Интернет магазин сертифицированных
											златоустовских ножей</h2>
										<p class="promo__swiper-text">Добро пожаловать на официальный сайт
											«ЗЛАТМАКС»! В нашем магазине
											представлен наиболее широкий выбор Златоустовских ножей от
											Златоустовских
											Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
										</p>
									</div> 
									@@include('./button/buttonPromo-small.html')
								</div>
							</div>
							<div class="swiper-slide">
								<div class="promo__swiper-item">
									<div class="promo__swiper-text-block">
										<h2 class="promo__swiper-title">Интернет магазин сертифицированных
											златоустовских ножей</h2>
										<p class="promo__swiper-text">Добро пожаловать на официальный сайт
											«ЗЛАТМАКС»! В нашем магазине
											представлен наиболее широкий выбор Златоустовских ножей от
											Златоустовских
											Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
										</p>
									</div>
									@@include('./button/buttonPromo-small.html')
								</div>
							</div>
							<div class="swiper-slide">
								<div class="promo__swiper-item">
									<div class="promo__swiper-text-block">
										<h2 class="promo__swiper-title">Интернет магазин сертифицированных
											златоустовских ножей</h2>
										<p class="promo__swiper-text">Добро пожаловать на официальный сайт
											«ЗЛАТМАКС»! В нашем магазине
											представлен наиболее широкий выбор Златоустовских ножей от
											Златоустовских
											Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
										</p>
									</div>
									@@include('./button/buttonPromo-small.html')
								</div>
							</div>
							<div class="swiper-slide">
								<div class="promo__swiper-item">
									<div class="promo__swiper-text-block">
										<h2 class="promo__swiper-title">Интернет магазин сертифицированных
											златоустовских ножей</h2>
										<p class="promo__swiper-text">Добро пожаловать на официальный сайт
											«ЗЛАТМАКС»! В нашем магазине
											представлен наиболее широкий выбор Златоустовских ножей от
											Златоустовских
											Оружейных Фабрик и компаний, мы являемся официальными поставщиками.
										</p>
									</div>
									@@include('./button/buttonPromo-small.html')
								</div>
							</div>
						</div>
						<div class="swiper-pagination">
							<div class="my-swiper-pagination">
								<span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="promo__product">
					<div class="promo__product-image">
						<img class="promo__img" src="./img/promo/knives.png" alt="Набор ножей в подставке">
						<span class="promo__img-plus promo__img-plus--1" data-hint="Текст про нож...">
							<img class="promo__hint-img" src="./img/promo/plus.svg" alt="plus">
						</span>
						<span class="promo__img-plus" data-hint="Текст про несколько ножей...">
							<img class="promo__hint-img" src="./img/promo/plus.svg" alt="plus">
						</span>
						<span class="promo__img-plus" data-hint="Текст про подставку для ножей...">
							<img class="promo__hint-img" src="./img/promo/plus.svg" alt="plus">
						</span>
					</div>
				</div>
			</div>
			<div class="promo__bottom">
				<ul class="promo__list">
					<li class="promo__list-item">
						<img class="promo__list-img" src="./img/promo/advantage-1.svg" alt="Галочка">
						<span class="promo__list-description">Гарантия 100% возврата
							денежных средств</span>
					</li>
					<li class="promo__list-item">
						<img class="promo__list-img" src="./img/promo/advantage-2.svg" alt="Грузовик">
						<span class="promo__list-description">Доставка по России,
							Казахстану и Белоруссии</span>
					</li>
					<li class="promo__list-item">
						<img class="promo__list-img" src="./img/promo/advantage-3.svg" alt="Список">
						<span class="promo__list-description">Возможность оформление
							заказа без регистрации</span>
					</li>
					<li class="promo__list-item">
						<img class="promo__list-img" src="./img/promo/advantage-4.svg" alt="Значок процента">
						<span class="promo__list-description">Скидки постоянным
							покупателям</span>
					</li>
				</ul>
			</div>
			<div class="promo__lines">
				<div class="promo__line">
					<span class="promo__line-ball"></span>
				</div>
				<div class="promo__line promo__line--2">
					<span class="promo__line-ball promo__line-ball--2"></span>
				</div>
				<div class="promo__line promo__line--3">
					<span class="promo__line-ball promo__line-ball--3"></span>
				</div>
				<div class="promo__line promo__line--4">
					<span class="promo__line-ball promo__line-ball--4"></span>
				</div>
				<div class="promo__line promo__line--5">
					<span class="promo__line-ball promo__line-ball--5"></span>
				</div>
				<div class="promo__line promo__line--6">
					<span class="promo__line-ball promo__line-ball--6"></span>
				</div>
				<div class="promo__line promo__line--7">
					<span class="promo__line-ball promo__line-ball--7"></span>
				</div>
				<div class="promo__line promo__line--8">
					<span class="promo__line-ball promo__line-ball--8"></span>
				</div>
			</div>
		</div>
	</div>
</div>