.promo {
	padding: rem(30) 0 rem(60);

	background: linear-gradient(#141414cc, #070707cc 25%), url(./../img/promo/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	color: var(--main-font-color);

	overflow: hidden;

	position: relative;

	&__inner {
		display: flex;
		flex-direction: column;

		position: relative;
	}

    &__top {
		display: grid;
		grid-template-columns: 60% 34%;
		justify-content: space-between;

		margin-bottom: rem(70);

		@include media-breakpoint($xs) {
			grid-template-columns: 52% 42%;
		}

		@include media-breakpoint($md) {
			grid-template-columns: 100%;
		}
	}

	&__product {
		align-self: center;

		display: flex;
		justify-content: center;
	}

	&__swiper-item {
		padding: 0 rem(15);
	}

	&__swiper-text-block {
		max-width: rem(915);
		margin-bottom: rem(60);
	}

    &__swiper-title {
		margin-top: rem(15);
		margin-bottom: rem(30);

		font-size: rem(36);
		font-weight: 700;
		line-height: 1.28;
		letter-spacing: rem(1.08);

		@include media-breakpoint($xs) {
			font-size: rem(19);
		}
	}

    &__swiper-text {
		font-size: rem(20);
		font-weight: 500;
		line-height: 1.5;
		letter-spacing: rem(0.6);

		@include media-breakpoint($xs) {
			font-size: rem(16);
		}
	}

	&__product-image {
		padding-right: 15%;

		position: relative;
		&::after {
			content: '';

			position: absolute;
			top: 12%;
			left: 0;
			
			width: prc(421, 529);
			height: prc(421, 499);

			transform: translate(prc(132, 423), 0);
	
			border: rem(1) solid var(--grey-color2);

			border-radius: 50%;
		}
	}
	
    &__img {
		position: relative;
		z-index: 2;
	}

	&__hint-img {
		pointer-events: none;
	}

	&__img-plus {
		position: absolute;
		z-index: 2;

		&::after {
			content: attr(data-hint);

			position: absolute;
			right: 0;
			bottom: calc(100% + rem(15));

			width: 200px;
			padding: 10px;

			border-radius: rem(5);
			background: var(--dark-color);

			visibility: hidden;
			opacity: 0;
			z-index: -1;

			transition: opacity .3s ease;

			@include media-breakpoint($l) {
				font-size: rem(18);
			}

			@include media-breakpoint($md) {
				font-size: rem(16);
			}

			@include media-breakpoint($sm) {
				font-size: rem(14);
			}

			@include media-breakpoint($xs) {
				font-size: rem(12);
			}
		}

		&:hover::after {
			visibility: visible;
			opacity: 1;
			z-index: 6;
			transition: opacity .3s ease;
		}
		
		&--1::after {
			left: 0;
		}
	}

	&__img-plus:nth-child(2) {
		left: prc(76, 529);
		top: prc(178, 499);
	}

	&__img-plus:nth-child(3) {
		left: prc(418, 529);
		top: prc(65, 499);
	}

	&__img-plus:nth-child(4) {
		left: prc(390, 529);
		top: prc(360, 499);
	}

    &__list {
		position: relative;
		z-index: 1;

		display: grid;
		grid-template-columns: repeat(4, minmax(235px, 290px));
		justify-content: space-between;
		column-gap: rem(30);
		row-gap: rem(50);

		@include media-breakpoint($l) {
			grid-template-columns: repeat(2, minmax(235px, 270px));
			justify-content: center;
		}

		@include media-breakpoint($sm) {
			grid-template-columns: 270px;
		}

		// @include media-breakpoint($md) {
		// 	grid-template-columns: repeat(2, 295px);
		// }

		// @include media-breakpoint($md) {
		// 	grid-template-columns: repeat(1, 295px);
		// 	justify-content: center;
		// }

		// @include media-breakpoint($md) {
			
		// }

		// @include media-breakpoint($sm) {
		// 	// grid-template-columns: repeat(1, rem(265));
		// 	justify-items: center;
		// 	row-gap: rem(70);
		// }
	}

    &__list-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		row-gap: rem(15);
		// @include media-breakpoint($sm) {
		// 	row-gap: rem(15);
		// }
	}
   
    &__list-description {
		text-align: center;
		font-size: rem(20);
		font-weight: 600;
		line-height: 1.6;

		@include media-breakpoint($xl) {
			font-size: rem(16);
		}

		// @include media-breakpoint($sm) {
		// 	font-size: rem(16);
		// }

		// @include media-breakpoint($xs) {
		// 	font-size: rem(14);
		// }
	}

	&__line {
		position: absolute;
		top: rem(-30);
		left: prc(115, 1570);

		width: rem(1);
		height: calc(100% + rem(90));
		background: var(--light-pale-color);

		&--2 {
			left: prc(245, 1570);
		}

		&--3 {
			left: prc(505, 1570);
		}

		&--4 {
			left: prc(625, 1570);
		}

		&--5 {
			left: prc(885, 1570);
		}

		&--6 {
			left: prc(1015, 1570);
		}

		&--7 {
			left: prc(1275, 1570);
		}

		&--8 {
			left: prc(1405, 1570);
		}
	}

	&__line-ball {
		position: absolute;
		left: 0;
		transform: translateX(-50%);

		width: rem(10);
		height: rem(10);

		border-radius: 50%;

		background: var(--accent-dark-color2);
		filter: drop-shadow(0 0 rem(5) var(--accent-opacity-color));

		animation: promoBallMoveDown 25s linear infinite;

		&--2 {
			bottom: 0;
			animation: promoBallMoveUp 35s linear infinite;
		}

		&--3 {
			bottom: 0;
			animation: promoBallMoveDown 50s linear infinite;
		}

		&--4 {
			bottom: 0;
			animation: promoBallMoveDown 30s linear infinite;
		}

		&--5 {
			bottom: 0;
			animation: promoBallMoveUp 45s linear infinite;
		}

		&--6 {
			bottom: 0;
			animation: promoBallMoveDown 65s linear infinite;
		}

		&--7 {
			bottom: 0;
			animation: promoBallMoveUp 35s linear infinite;
		}

		&--8 {
			bottom: 0;
			animation: promoBallMoveDown 15s linear infinite;
		}
	}

	@keyframes promoBallMoveDown {
		0% {top: 0;}
		100% {top: 100%;}
	}

	@keyframes promoBallMoveUp {
		0% {bottom: 0;}
		100% {bottom: 100%;}
	}
}


.promo .swiper-pagination {
	position: static;

	display: flex;
	gap: rem(17);
	
	padding-bottom: rem(15);
	margin-top: rem(55);
	margin-left: rem(20);

	&-bullet {
		width: rem(28);
		height: rem(4);
		margin: 0 !important;

		border-radius: rem(4);

		background: var(--light-color);
		opacity: 1;
	}

	&-bullet-active {
		background: var(--accent-color);

		position: relative;
		&::before {
			content: '';

			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(-50%, -50%);
			z-index: 1;

			width: rem(15);
			height: rem(15);

			border-radius: 50%;

			background: var(--accent-color);
			box-shadow: 0 0 rem(15) var(--accent-opacity-color);
		}
	}
}



