<div class="news">
	<div class="container">
		<div class="news__inner">
			<div class="news__text-block">
				<h3 class="news__title title title--light">Новинки</h3>
				<p class="news__text">Добро пожаловать на официальный сайт «ЗЛАТМАКС»! В нашем магазине представлен наиболее широкий выбор Златоустовских ножей от Златоустовских Оружейных Фабрик и компаний, мы являемся официальными поставщиками.</p>
				<a class="news__link" href="products.html">Больше новинок</a>
			</div>
			<div class="common-card-swiper swiper swiper-news">
				<div class="common-card-swiper__wrapper swiper-wrapper">
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
				</div>
				<div class="common-card-swiper__pagination swiper-pagination"></div>
			</div>
		</div>
	</div>
</div>