<div class="swiper-section">
	<div class="container">
		<div class="swiper-section__inner">
			<div class="swiper-section__top">
				<h3 class="swiper-section__title title">Акции</h3>
				<div class="swiper-section__link-wrapper">
					<a class="swiper-section__link" href="products.html">Все акции</a>
				</div>
			</div>
			<div class="common-card-swiper swiper common-swiper">
				<div class="common-card-swiper__wrapper swiper-wrapper swiper-discounts">
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
					<div class="common-card-swiper__item swiper-slide">
						
					</div>
				</div>
				<div class="common-card-swiper__pagination swiper-pagination"></div>
			</div>
			<div class="swiper-section__link-wrapper-bottom">
				<a class="swiper-section__link" href="products.html">Все акции</a>
			</div>
		</div>
	</div>
</div>