<div class="filter__select select">
	<button class="select__button">По популярности</button>
	<form class="select__form">
		<ul class="select__list">
			<li class="select__item">
				<button class="select__item-button" type="submit" data-value="popularity">По популярности</button>
			</li>
			<li class="select__item">
				<button class="select__item-button" type="submit" data-value="best-mark">Сначало с лучшей оценкой</button>
			</li>
			<li class="select__item">
				<button class="select__item-button" type="submit" data-value="cheap">Сначало недорогие</button>
			</li>
			<li class="select__item">
				<button class="select__item-button" type="submit" data-value="expensive">Сначало дорогие</button>
			</li>
			<li class="select__item">
				<button class="select__item-button" type="submit" data-value="discount">По скидке (%)</button>
			</li>
		</ul>
		<input class="select__input" type="text" name="select-filter" value="">
	</form>
</div>
